@import url('https://fonts.googleapis.com/css?family=Bangers');
@import url('https://fonts.googleapis.com/css?family=sans serif');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
@import url('https://fonts.googleapis.com/css?family=Schoolbell');
@import url('https://fonts.googleapis.com/css?family=Kalam:700');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
html{
    font-family: 'Comfortaa', cursive;
    
}
h1{
    color: yellow; 
    text-align:center;
    background-color: purple;
    border:5px solid black;
    border-radius: 16px;
    font-size: 100px;
    font-family: 'Bangers', cursive;
}
h2{
    color: yellow; 
    text-align:center;
    background-color:purple;
    border: 5px solid black;
    border-radius: 16px;
    font-size: 50px;
    font-family: 'Bangers', cursive;
}

/* Drop Shadow on all titles */
h1, h2 {
    text-shadow:2px 2px black;
}
    
body{
    background-color: cornsilk;
}

.Person {
	padding-bottom: 3rem;
}
.PersonText {

}
.Portrait{
    float: left;
    width: 348px;
    height: 500px;
    padding-right:16px;
    padding-bottom:16px;
}
